
body{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
	height: 880px;
    background: -webkit-radial-gradient(#852483, #370339); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#852483, #370339); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#852483, #370339); /* For Fx 3.6 to 15 */
    background: radial-gradient(#852483, #370339); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}
button {
   /*  width: 100%; */
	margin-top: 10px;
}
.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-top: 5%;
    letter-spacing: 1px;
}
ul {
  list-style-type: none;
	
}
 
h3 {
  font: bold 14px/1.5 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  }
 
li img {
  float: left;
  margin: 0 0px 0 0;
}
 
li p {
  font: 200 12px/1.5 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
}
 
li {
  padding: 0px;
  overflow: auto;
}
 
li:hover {
  background: #9B7BF4;
  cursor: pointer;
}
form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}
.navbar-brand.glyphicon-home:before {
    margin-right: 10px;
}
.navbar-brand.glyphicon.glyphicon-home > span {
	font-variant: small-caps;
    word-spacing: -15px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	color: #ffd205;
}
.item > img {
    width: 100%;
}
.footer {
    background: #222;
    border: solid 1px #080808;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
.container .text-muted {
    margin: 10px 0;
}
.content{
	display: none;
}
.bookingCnt{
	display: none;
}
/* Carousel CSS Start */
.carousel-caption {
    top: 10%;
	right: inherit;
    left: 10%;
    text-align: left;
    width: 50%;
}
#carousel-example-generic{
	height: 300px;
    overflow: hidden;
}
.itemCnt {
    color: #fff;
	width: 100%;
	height: 50px;
    display: table;
    margin: 10px 0;
}
.backBtn{
	color:#fff;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 15px;
	padding:10px;
	background: red;
	z-index:999;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset;
	-ms-box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset;
	-o-box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset;
}
.itemText, .itemText2 {
    display: table-cell;
	cursor: pointer;
	padding-left: 20px;
    vertical-align: middle;
}

.itemTextL{
    display: table-cell;
	cursor: pointer;
    vertical-align: middle;
    align-content:initial;

}
.imgCnt {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 50px;
}
.imgCntW {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100px;
}
.goldColor {
    color: #ffd205;
    margin: 0 10px;
}
/* Carousel CSS End */

@media (width:360px)
{	
	#carousel-prop{
		height: 200px;
		overflow: hidden;
	}
}